.btn-main{
    background:#FECD22 !important ;
}

.login-section{
    padding:2rem;
}

.usability .box-content{
    cursor: pointer;
}

.contact h6 {
    color: #2B4279;
    font-size: 1.2em;
    letter-spacing: 0.01em;
    line-height: 20px;
    margin-bottom: 8px;
}

.contact p {
    color: #000000;
    font-size: 1.1em;
    letter-spacing: 0.01em;
    line-height: 18px;
    margin-bottom: 0;
}

.contact .row {
    min-height: 175px;
}

.contact .google-map {
    min-height: 300px;
}

.faq .toggle.toggle-minimal .toggle {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    margin-bottom: 20px;
}

.faq .toggle.toggle-minimal .toggle .toggle-title {
    color: #000000;
    font-weight: normal;
    font-size: 19px;
    padding: 20px 25px;
    border-bottom: inherit !important;
    border-radius: inherit;
}

.faq .toggle.toggle-minimal .toggle .toggle-content {
    color: #33313B;
    font-weight: normal;
    font-size: 16px;
    padding: 20px 45px;
}

.card-news .card-body {
    padding: 15px;
}

.card-news .card-body .card-title a {
    color: #2145BC;
    font-size: 24px;
}

.card-news .card-body .card-title + p {
    padding: 10px 0;
}

.dots span {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #808080;
    display: inline-block;
    margin: 0 7px 15px;
}

.news img {
    max-width: 100%;
    border-radius: 6px;
    display: block;
    margin: 0 auto;
}

.news p {
    color: #000000;
}

blockquote {
    border-left: 5px solid #2B4279;
    margin: 0 0 16px 0;
    margin: 0 0 1rem 0;
    padding: 5px 16px;
    font-size: 1em;
}

.news blockquote p {
    color: #808080;
    margin-bottom: 10px;
}

p.img-ref {
    color: #808080;
    text-align: center;
    font-style: italic;
    margin: 10px 0;
}

.news .tag {
    color: #2B4279;
    border: 1px solid #2B4279;
    border-radius: 5px;
    padding: 4px 15px;
}