/* Add here all your CSS customizations */
@font-face {
    font-family: 'supermarket';
    src: url('../fonts/supermarket.woff2') format('woff2'),
        url('../fonts/supermarket.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #212529;
    font-weight: 200;
    letter-spacing: 0.01em;
}

body {
    font-size: 18px !important;
    font-family: 'supermarket';
}


a {
    text-decoration: none;
}

a:hover,
a:focus {}


html .scroll-to-top{
    transition: opacity 0.3s;
    background: #fecd22;
    border-radius: 4px 4px ;
    bottom: 10px;
    color:#000;
    display: block;
    height: 10px;
    opacity: 0;
    padding: 10px 10px 35px;
    position: fixed;
    right: 10px;
    text-align: center;
    text-decoration: none;
    min-width: 50px;
    z-index: 1040;
    font-size: 0.8em;
}

.text-warning {
    color: #FFA74A;
}

.text-main a {
    color: #000 !important;

}

.menu-main ul li a {
    position: relative;
}

.menu-main ul li a .icon-m {
    position: relative;
    z-index: 1;
}

.menu-main ul li a .icon-w {
    position: absolute;
    z-index: 0;
}

.language-change .dropdown-menu {
    min-width: auto !important;
}

.language-change .dropdown-menu .dropdown-item {
    padding: 0.8rem 1rem;
}

.search-btn a {
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px;
    margin: 0 5px;
}

.search-btn a i {
    font-size: 1rem !important;
}

.language-change a.main-flag {
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    margin: 0 5px;
}

.btn-login {
    font-size: 18px;
    font-weight: 600;
    background: #FECD22;
    color: #263238;
    padding: 8px 18px;
    border-radius: 6px;
    transition: all .25s ease;
}

.btn-login:hover,
.btn-login:focus {
    background: #FEBD11;
    color: #263238;
    text-decoration: none !important;
}

#header .header-nav.header-nav-stripe nav>ul>li:hover>a .icon-m,
#header .header-nav.header-nav-stripe nav>ul>li.open>a .icon-m {
    opacity: 0;
}

.menu-elearning .featured-box .icon-featured {
    width: 120px;
    height: 120px;
    padding: 10px;
    margin: 0 auto;
}

.menu-elearning .icon-featured img {
    width: auto !important;
    max-width: 100%;
    margin: 20px auto !important;
}

.featured-box-one .icon-featured {
    background: #037B7C;
}

.featured-box-one h4 {
    color: #037B7C;
}

.featured-box-two .icon-featured {
    background: #3188BE;
}

.featured-box-two h4 {
    color: #3188BE;
}

.featured-box-three .icon-featured {
    background: #683AA7;
}

.featured-box-three h4 {
    color: #683AA7;
}

.featured-box-four .icon-featured {
    background: #FF6E00;
}

.featured-box-four h4 {
    color: #FF6E00;
}

.featured-box-five .icon-featured {
    background: #DAB212;
}

.featured-box-five h4 {
    color: #DAB212;
}

.banner-index {
    position: relative;
    z-index: 1;
}

.banner-index .owl-carousel {
    margin: 0;
    padding: 0;
}

.menu-index {
    background: #FAFAFA;
    margin-top: -12px;
    z-index: 2;
    position: relative;
    padding: 1rem 0;
}

.course-index {
    padding: 1.5rem 0 6rem;
    position: relative;
}

.bg-course img {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.course-index .owl-carousel .owl-nav {
    margin-top: -60px;
}

.course-index .owl-carousel .owl-nav .owl-next,
.course-index .owl-carousel .owl-nav .owl-prev {
    color: #333333 !important;
    width: 40px !important;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 50px;
}

.course-index .owl-carousel .owl-nav .owl-prev {
    left: -90px !important;
}

.title-panel {
    padding-bottom: 15px;
    border-bottom: 3px solid #EEEEEE;
}

.title-panel span {
    border-bottom: 3px solid #FECD22;
}

.title-panel-white {
    padding-bottom: 15px;
    border-bottom: 3px solid #EEEEEE;
    color: #fff;
}

.card-course {
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    border: 1px solid #ddd;
}


.card-course .card-body {
    padding: 10px !important;
}

.activity-index {
    background: url('../img/1-main/main-bg-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 0;
}

.btn-viewall {
    text-align: right;
    color: #263238;
}

.btn-viewall .post .blog-detail {
    line-height: 1;
}

.read-more {
    color: #ff8300;
}

.read-more:hover,
.read-more:focus {
    color: #ff8300;
    text-decoration: underline;
}

.bg-main {
    background: #2B4279;
}

.page-header {
    background-color: #2B4279;
    padding: 40px 10px;
}

.page-header .breadcrumb li {
    color: #fff;
    font-size: 0.9em;
    letter-spacing: 0.8px;
    text-transform: none;
}

.page-header .breadcrumb li a {
    color: #f6d900;
}

.header-logo img {
    transform: translate(0px, 23px) !important;
    box-shadow: 0 4px 5px rgb(0 0 0 / 15%);
}

.content {
    min-height: calc(100vh - 280px);
    padding: 40px 2rem 2rem;
}

@media (min-width: 768px) {
    .content {
        padding: 40px 2rem 7rem;
    }
}

@media (min-width: 992px) {
    .content {
        padding: 40px 2rem 17rem;
    }
}

.sidebar {
    background-color: #FECD22;
    padding: 40px 10px;
}

.sidebar p, .sidebar li a.active {
    color: #2B4279;
}

.sidebar p a, .sidebar li a {
    color: #000000;
    text-decoration: none !important;
}

.sidebar hr {
    border-top: 1px solid #000000;
}

.sort-source > li > a {
    padding: 0 !important;
}

.nav-list {
    list-style: none;
}

.card-profile {
    padding: 30px 20px;
    z-index: 10;
    margin-bottom: 5rem;
}

.card-profile p {
    color: #333333;
}

.card-profile p span{
    color: #2B4279;
}

.card-profile p:last-child {
    margin-bottom: 0;
}

.bg-page img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bg-footer {
    position: relative;
}

.bg-footer img {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.thumb-deves {
    left: 5%;
    top: 0;
    position: absolute;
    z-index: 2;
    width: 55px;
    height: 57px;
    background-image: url(../img/1-main/thumb-deves.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
}

.img-thumbnail{
    width: 100%;
}

.table-document {
    min-width: 500px;
    text-align: center;
}

.table-document tr td:nth-child(1) {
    width: 100px;
}

.table-document tr td:nth-child(2) {
    text-align: left;
}

.table-document tr td:nth-child(3),
.table-document tr td:nth-child(4) {
    width: 150px;
}

.table-document thead {
    border-top: 1px solid #DDDDDD;
    border-bottom: 2px solid #DDDDDD;
}

.table-document td, .table-document th {
    border-bottom: 1px solid #DDDDDD;
    vertical-align: middle;
}

.topic{
    color: #2B4279;
}

.topic:before {
    color: inherit;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    content: "\f105\f105";
    padding-top: 20px;
}

.btn-download {
    font-size: 18px;
    background: #FECD22;
    color: #2B4279;
    padding: 4px 14px;
    border-radius: 6px;
}

.section-allcourse{
    padding: 3rem 5rem 10rem 5rem;
    min-height: calc(100vh - 100px);
    margin-left: auto;
    margin-right: auto;
}

.bg-filter{
    background: #FECD22;
    padding: 15px 10px;
}

.course-menu,.course-content{
    padding: 3rem 1.5rem;
}

.course-content .tabs.tabs-simple .nav-tabs > li .nav-link,.course-content .tabs.tabs-simple .nav-tabs > li .nav-link:hover,.course-content .tabs.tabs-simple .nav-tabs > li .nav-link:focus{
    padding: 15px 30px 10px;
    font-size: 22px;
}

.course-content .nav-tabs .nav-link.active:focus,.course-content .nav-tabs .nav-link.active,.course-content .nav-tabs > li .nav-link:hover,.course-content .nav-tabs > li .nav-link.active:hover{
    border-bottom-color: #FECD22 !important;
    color: #333!important;
}

.section-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-list li{
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}
.section-list li a{
    color: #333;
    display: block;
}

.section-list li:hover{
    background: #f3f3f3;
}
.section-title{
    border-bottom: 1px solid #333;
}

.staus-learn{
    height: auto;
    margin: 0 15px 0 0;
    padding: 0;
}
.section-main{
    height: calc(100vh - 220px);
}

.timer {
    padding: 25px 0;
    margin: 0 auto;
    display: block;
    width: 250px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    text-align: center;
}

.timer span {
    color: #EC5E5E;
}

.exam-nav .nav-item {
    background-color: #ffffff;
    color: #353E43;
    border: 1px solid #dddddd;
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 10px;
    cursor: pointer;
}


.exam-nav .nav-active {
    background-color: #ffffff;
    color: #F9C03F;
    border: 1px solid #F9C03F;
}

.exam-nav .nav-check {
    background-color: #F9C03F;
    color: #ffffff;
    border: 1px solid #F9C03F;
}

.exam-nav {
    text-align: center;
    vertical-align: middle;
}

.exam {
    display: none;
}

.choice-item {
    background-color: #ffffff;
    color: #353E43;
    border: 1px solid #dddddd;
    border-radius: 5px;
    cursor: pointer;
}

.choice-check {
    background-color: #F8941D;
    color: #353E43;
    border: none;
    cursor: default;
}

.choice-num {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #dddddd;
    color: #353E43;
}

